<div class="col-4">

</div>
<div class="container col-4 mt-5">
    <h2 class="text-center">Edit Element</h2>
    <br>
    <form [formGroup]="editElementForm" (ngSubmit)="submitForm(editElementForm.value)">
        <div class="form-group">
            <input formControlName="name" type="text" placeholder="name" value="{{ element.name }}" class="mb-2 form-control">
        </div>
        
        <div class="form-group">
            <input formControlName="image" type="text" placeholder="image" value="{{ element.image }}" class="mb-2 form-control">
        </div>

        <div class="form-group">
            <input formControlName="price" type="number" placeholder="price" value="{{ element.price }}" class="mb-2 form-control">
        </div>

        <div class="row">
            <a href="/estemaion" class="btn btn-primary float-left col-2 ml-3">Cancel</a>
            <div class="col"></div>
            <button type="submit" class="btn btn-primary float-right col-3 mr-3">Save estimation</button>
        </div>
    </form>
</div>